
body {
    background-color: black;
    margin: 0 auto;
}

.huit {
    border: solid #111;
    margin-bottom: 500px;
}

.horloge {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.huit {
    display: flex;
}

.h_top, .h_bottom, .h_top2, .h_bottom2{
    border: solid #111;
}

.container {
    margin: 0 auto;
    max-width: 880px;
}

/* clip-path: polygon(100% 10%, 100% 90%, 0 100%, 0 0);
clip-path: polygon(100% 0, 100% 100%, 0 90%, 0 10%);
clip-path: polygon(100% 0, 90% 100%, 10% 100%, 0 0);
clip-path: polygon(90% 0, 100% 100%, 0 100%, 10% 0);
clip-path: polygon(10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%); */
